.seen{
    background-color: var(--foreground);
    padding: 3rem;
}
.seen .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:3rem;
}
.seen .container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(width>600px){
    .seen .container{
        grid-template-columns: repeat(4, 1fr);
    }
}

.seen .container img{
    width: 100px;
    height: 120px;
}

.seen .container .buga{
    width: 220px;
    height: 170px;
}

.seen .container .K{
    width: 220px;
    height: 170px;
}
.seen .container .F{
    width: 240px;
    height: 170px;
}